/* .blue{
    color: #002B48 !important;
} */

.container-fluid {
    max-width: 1440px;
}

.color-text {
    color: #002B48 !important;
}

.mont-text {
    font-family: 'Montserrat', sans-serif;
}
.mont-500 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.mont-700{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}
.oswald-text{
    font-family: 'Oswald', sans-serif;

}
.osw-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
    color: #002B48 !important;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.size-500 {
    font-weight: 500;
}

.border-radius {
    border-radius: 10px;
}

/* boton carrusel */
.color-btn {
    color: #FFFFFF;
    background-color: #F15A24;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 15rem;
    height: 3rem;
    left: 7.5rem;
    top: 31rem;
    border-radius: 3.5rem;
}
.background-image {
    background-image: url("img/fondo-servicio.png");
    background-size: cover !important;
    object-fit: none;

}

.title-carousel {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #002B48;
}

.title-card-carosusel {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #002B48;
}

/* botón carrusel */
.color-btn {
    color: #FFFFFF;
    background-color: #F15A24;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 15rem;
    height: 3rem;
    left: 7.5rem;
    top: 31rem;
    border-radius: 3.5rem;
}

/* .paragraph-carousel{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #002B48;
} */

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.carousel-caption {
    top: 3rem;
    /* bottom: 1.25rem; */
    left: 10%;
    z-index: 20;
    color: #002B48;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: start;
    position: absolute;
    right: 30%;
}

.carousel-height {
    height: 24rem;
    object-fit: none;
}

/* number section */

.coral-color{
    color:#00A7E1;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1;

}

.orange-color{
    color: #F15A24;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1;
 
}
.number{
    font-size: 3.5rem;
}


/* card-flip */

.card-size {
    width: 17.5rem;
    height: 12rem;
    align-items: center;
}

.card-text-content{
    font-size: .7rem;
    font-weight: bold;
}

.align-vertical{
align-items: center;

}
/* efecto flip */

.flip{
	margin: 10px;
	-webkit-perspective: 800;
	perspective: 800;
}

.card-flip{
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
    box-shadow: 0px 4px 11px 2px rgba(0, 43, 72, 0.2);
	-webkit-box-shadow: 0px 4px 11px 2px rgba(0, 43, 72, 0.2);

}

.front, .back{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.front{
	width: 100%;
}

.back{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
/* 
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center; */
}
.card-flip:hover{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/* carrusel casos de éxito */

.vermas{
    text-decoration: none;
}
.mayusculas{
    text-transform: uppercase;
}

.card1{
    width: 20%;
    height: 10rem;
    background-image: url(img/pexels-kaboompics-com-6224\ 1.png);
    background-size: cover !important;
    
}
.card2{
    width: 10rem;
    height: 10rem;
    background-image: url(img/cruz-blanca\ 1.png);
    background-size: cover !important;
    
}
.card3{
    width: 10rem;
    height: 10rem;
    background-image: url(img/shutterstock_10616755\ 1.png);
    background-size: cover !important;
    

}
.card4{
    width: 10rem;
    height: 10rem;
    background-image: url(img/pexels-nav-photography-5458354\ 1.png);
    background-size: cover !important;
    
}
.multiple-items img{
    margin:auto;
    padding: 4rem;
}
/* .card-img{
    background-size: cover !important;

} */
.slick-prev{
    color:transparent;
}
.slick-arrow{
    color:transparent;

}

button {
    appearance: auto;
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: transparent;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: transparent;
    border-image: initial;
}
/* carusel celeste nosotros */

.blue-background{
 background-color:#00A7E1;
 background-size: cover !important;
}

.text-white{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .8rem;
    padding-left: 25px;
}
.title-white{
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: -3rem;
}

.text-vision{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding-left: 1rem;

}
.text-div{
    padding-left: 3rem;
    width: 100%;

}
.div-icono{
    width: 7rem;
    height: 7rem;


}
.img-icono{
    width: 8rem;
}

/* .icono{
    max-width: 100%;
} */
.carousel .item .blue-background {
    background-color:#00A7E1;
}

#blue-carousel .carousel-caption {
    /* top: 3rem; */
    /* bottom: 1.25rem; */
    left: 12%;
    /* z-index: 20;
    color: orange;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: start;
    position: absolute; */
    right: 15%;
}
#blue-carousel .carousel-height {
    height: 30rem;
    object-fit: none;
}

/* nuestros socios */

.partner-size{
    width: 14rem;
    padding: 1rem;
    object-fit: contain;
    /* margin: 2.5rem;
} */
}
/* .img-partner{
    max-width: 100%;
} */

/* tendencias */
.card-tendencias{
    border-radius: 2rem;
    border-color: transparent;
    width: 18rem;
    margin: .5rem;
    
}
.btn-tendencias {
    color: #FFFFFF;
    background-color: #F15A24;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: .5rem;
    border-radius: 3.5rem;
}

/* footer */
.footer-blue{
    background-color:#002B48;
    height: auto;
    color: #FFFFFF;
    ;
}

.text-size{
    font-size: .9rem;
    /* padding-left: 2rem; */
}

.contact-size{
    font-size: .9rem;
    padding: 0 1rem;


}

.contact-bold{
    border-right: solid .2rem;
    border-left: solid .2rem;
    /* display:none; */

}

.map{
    padding-right:3rem ;
    width: 20rem;
    height: 10rem;
}
.maps{
    width: 100%;
    height: 100%;
}
/* fixed */
.fixed-element{
    position: sticky;
    z-index: 2;
    /* top: 30%;
    bottom: 50%; */
    left: 82%;
    /* top: 30%;
    right: 0; */
    bottom: 0;
    margin-top: -14rem;
    padding-bottom: 3rem;
}

.div-fixed{
    margin-top: -14rem;
    padding-bottom: 3rem;
}
.icon-size{
    width: 5rem;
}
 /* antes */
/* .fixed-element:before{

}*/
/* despues */
/*.fixed-element:after{
    
} */


/* slideshow */
.slideshow{
    background-color: cornflowerblue;
}
.slideshow-item{
    background-color: brown;
}

/* articulos */
#articulos{
    height: 50rem;
    margin-left: 5rem;
}

/* media queries */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 847px) {
    .coral-color{

        /* font-size: 2.5rem;
        line-height: 1; */
        padding: 0 7rem;
        
    
    }
}
@media (min-width: 565px) and (max-width: 767px) { 
    .coral-color{

        /* font-size: 2.5rem;
        line-height: 1; */
        padding: 0 4rem;
        
    
    }
    
     /* .orange-color{
        font-size: 2.5rem;
        line-height: 1; 
        padding: 0 4rem; 
     
    }  */
    /* .number{
        font-size: 3.5rem;
    } */

 }

 @media (max-width: 991px) {
    .text-size{
        /* font-size: .9rem; */
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .contact-bold{
        /* border-right: solid .2rem;
        border-left: solid .2rem; */
        border:transparent
        /* display:none; */
    
    }
    .contact-size {
        font-size: .9rem;
        padding-bottom: 1rem;
        padding-left: 0;
    }
}